node_modules
build
dist
.svelte-kit
.env
.env.*

# Ignore files for PNPM, NPM and YARN
package.json
pnpm-lock.yaml
package-lock.json
yarn.lock
package.json

# Ignore files that are project specific
/db

# format not working well there for now
.changeset
CHANGELOG.md
ROUTES.ts
*.svelte.d.ts
packages/firstly/db
packages/firstly/src/app.html
packages/firstly/src/lib/auth/static
packages/firstly/static/favicon.svg
.astro
.devbox

packages/firstly/src/lib/ui/Tooltip.svelte
packages/firstly/src/lib/ui/Button.svelte
