.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
 
# Ignore files for PNPM, NPM and YARN
package.json
pnpm-lock.yaml
package-lock.json
yarn.lock
package.json
 
# Ignore files that are project specific
/db

# format not working well there for now
+page.md
CHANGELOG.md
ROUTES.ts
*.svelte.d.ts
packages/remult-kit/src/lib/auth/static
packages/remult-kit/db