@import 'tailwindcss';
@plugin "daisyui" {
	/* themes: firstly; */
	logs: false;
}

@plugin "daisyui/theme" {
	default: false;
	prefersdark: false;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0 0);
	--color-base-200: oklch(20% 0 0);
	--color-base-300: oklch(26% 0 0);
	--color-base-content: oklch(97% 0 0);
	--color-primary: oklch(54% 0.281 293.009);
	--color-primary-content: oklch(96% 0.016 293.756);
	--color-secondary: oklch(64% 0.222 41.116);
	--color-secondary-content: oklch(98% 0.016 73.684);
	--color-accent: oklch(60% 0.118 184.704);
	--color-accent-content: oklch(98% 0.014 180.72);
	--color-neutral: oklch(37% 0 0);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(62% 0.214 259.815);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(70% 0.14 182.503);
	--color-success-content: oklch(98% 0.014 180.72);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(98% 0.026 102.212);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0rem;
	--radius-field: 0.25rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
