name: Release

on:
 push:
  branches:
   - main

jobs:
 release:
  # prevents this action from running on forks
  if: github.repository == 'jycouet/firstly'
  permissions:
    contents: write # to create release (changesets/action)
    id-token: write # OpenID Connect token needed for provenance
    pull-requests: write # to create pull request (changesets/action)
  name: Release
  runs-on: ubuntu-latest
  steps:
   - name: Checkout Repo
     uses: actions/checkout@v6
     with:
      # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
      fetch-depth: 0

   - uses: jycouet/jycouet/shared-config/setup@main
     name: setup env
     with:
      nodeVersion: 22.12.0
      pnpmVersion: 10.13.1
     # with:
     #   nodeVersion: 18

   - name: Create Release Pull Request or Publish to npm
     id: changesets
     uses: changesets/action@v1
     with:
      # This expects you to have a script called release which does a build for your packages and calls changeset publish
      publish: pnpm changeset:publish
      commit: ':package: RELEASE: new version'
      title: ':package: RELEASE: preparing next version'
     env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_CONFIG_PROVENANCE: true